.modal {
  max-height: 950px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 25px;
  border-radius: 15px;
  background-color: $lightBrown;
  min-height: 350px;
  width: 1280px;
  transform: scale(0);
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__content.active {
  transform: scale(1);
}

.rules {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules__main-text {
  margin-bottom: 15px;
}

.rules__directory,
.rules__weight-pieces {
  display: block;
  margin: 15px 0;
}

.notification {
  height: 100%;
}

.simple-notification-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-turn-header,
.player-turn-heder {
  font-size: 35px;
  margin-bottom: 45px;
  text-align: center;
}

.modal-action__end-turn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons-group {
  display: flex;
  justify-content: space-evenly;
}

.modal-action__player-turn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-block {
  display: flex;
  justify-content: space-evenly;
}

.modal-action-button {
  width: 200px;
  height: 70px;
  font-size: 50px;
  line-height: 50px;
}

.small-text {
  font-size: 25px;
}

.selection-form {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.pieces-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.pieces-to-choose {
  cursor: pointer;
}

.error-message {
  font-size: 18px;
  color: rgb(170, 0, 0);
}
