.info-field {
  width: 570px;
  height: 880px;
  background-color: $lightBrown;
  border: 1px solid $brown;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.players-move {
  margin-bottom: 15px;
  font-size: 50px;
  color: $darkBrown;
  text-align: center;
}

.white-player-pieces,
.black-player-pieces {
  font-size: 25px;
  margin-bottom: 15px;
  color: $darkBrown;
}

.button-block {
  display: flex;
  justify-content: space-evenly;
}

.add-pieces-button,
.change-pieces-button,
.rules-button {
  background-color: $brown;
  color: $white;
  margin-bottom: 15px;
  border: 1px solid $darkBrown;
  &:hover {
    background-color: $darkBrown;
    color: $white;
  }
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.notification-text {
  text-align: center;
  margin-bottom: 35px;
}
