#board {
  min-width: 882px;
  max-width: 882px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 882px;
  max-height: 882px;
  border: 1px solid #5f3f3f;
  background-color: #ca8948;
  position: relative;
}

.Board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
}

.light-cell {
  background-color: #e0cfb1;
}

.dark-cell {
  background-color: #964b00;
}

.start-cell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #e0dddd;
}

.numbered-cell {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  color: #0c0c0c;
}

.end-turn-button {
  width: 206px;
  height: 206px;
  background-color: $darkBrown;
  border: 1px solid $brown;
  position: absolute;
  border-radius: 10px;
  top: 337px;
  left: 337px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: $lightBrown;
}

.svg-inline--fa {
  font-size: 48px;
  margin: 0px 6px;
}
