.dice-roll__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightBrown;
  border: 1px solid $darkBrown;
}

.roll-button {
  width: 145px;
  height: 44px;
  border: 1px solid #005f00;
}

.die-container {
  margin: 40px !important;
}

.dice {
  width: 180px;
}
